/* Center the form */
.centered-form {
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid 79967a
}

/* Form container */
.form-container {
    width: 400px;
    padding: 20px;
    background-color: rgba(68, 62, 48, 0.827);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #f10909; /* Added border to form container */
}

/* Form styles */
#studentForm {
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    border: 5px solid #fac413; /* Added border to form */
}

/* Form field styles */
label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
button,
input[type="file"] {
    background-color: rgba(103, 99, 89, 0.827);
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #63e40d; /* Added border to form fields */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Field hover effect */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
select:hover,
button:hover,
input[type="file"]:hover {
    background-color: #a9a1a1;
}

/* Image option container */
#uploadImageOption,
#captureImageOption {
    margin-top: 10px;
}

/* Hide captured image container by default */
#capturedImageContainer {
    display: none;
}

/* Search button */
.search-button {
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(185, 171, 125, 0.827);
    border-radius: 5px;
    border: 5px solid #05a8c9; /* Added border to search button */
}

.search-button:hover {
    background-color: #a78e6c;
}

/* Background image */

html,body {
     /* background-image: url('background.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 5px solid #8c6ce4;
}

.outer-div{
    /* sbackground-image: url("/static/background.jpg"); */
    width: 80%;
    height: 80%;
    border: 5px solid #fa6b05;
}

::placeholder {
    color: #a7a7a7;
}

option {
    color: white;
}

.submit-btn{
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(121, 162, 122, 0.827);
    border-radius: 5px;
    border: 5px solid #b615c5; /* Added border to submit button */
}
